#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#background-logo {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

img {
  margin-right: 10px;
  padding: 5px;
}

.menu {
  margin-top: 20px;
}

.menu a {
  color: white !important;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.menuUser span {
  color: black !important;
  font-size: 18px;
  margin-right: 5px;
}

.menuUser a {
  color: grey !important;
  font-weight: bold;
  text-decoration: none;
  
}

.menu a:hover, .menu a:active {
  color: blue !important;
}

/******* VIEWS ********/

.data[data-css] {
  /*background-color:azure;*/
  height: 100%;
}

.form[data-css] {
  border-top-style: ridge;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #6c757d;
  border-radius: 15px;
}

.form[data-css] h4 {
  margin-top: 10px;
  color: #fff;
}

.form[data-css] .btn {
  margin: 10px 0;
}

.form[data-css] label {
  color: #ffffff;
  display: flex;
  align-items: left;
}

.header {
  background-color: grey;
  color: white;
}

.data a {
  color: blue;
  font: bold;
}

th :hover, td :hover {
  text-decoration: none;
}

.clear {
  margin-bottom: 20px;
}

.msnError {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

.btn {
  margin: 5px 0;
  padding: 8px;
  width: 100px;
}

.btn.btn-info.btn-sm {
  width: 40px;
}

.btn.btn-primary, .btn.btn-danger {
  margin: 0;
  padding: 8px;
}




/****** INFO *******/

#data[data-css] {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  padding: 10px;
}

.clear {
  margin-bottom: 20px;
}

.formUpdate, .formChangePassword, .formAssign {
  padding: 20px;
  background-color: #6c757d;
  border-radius: 15px;
}

.formUpdate h4, .formChangePassword h4, .formAssign h2, .formChangePassword label, .formAssign label  {
  color: #fff;
}

.formChangePassword label{ 
  display: flex;
  align-items: left;
}
